html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  width: 100%;
  height: 100vh;
}

#toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  z-index: 1000;
}

button {
  cursor: pointer;
}
